<!doctype html/>
<html>
<head>
<title>	</title>
<style type="text/css">body {background-color: lightcyan;}</style>
</head>

<body>
<fieldset>
	<legend style="font-family:impact;">Profie Information:</legend>
<form action="" method="post">
<Table Border=1>

<p> Please <strong>update</strong> your profile information on the following form <br>
	<em>All fields are required and must contain valid information </em>
	
<tr>
	<td> Member ID:</td> <td><input type="text" name="memberID" value="{{memberID}}" readonly /> </td>
</tr>
<tr>
	<td> First name: </td> <td><input type="text" name="firstname" value="{{firstname}}"/> </td>
</tr>
<tr>
	<td> Last Name: </td> <td><input type="text" name="lastname" value="{{lastname}}"/> </td>
</tr>	
<tr>
	<td> Age: </td> <td><input type="text" name="age" value="{{age}}"/> </td>
</tr>
<tr>
	<td> Email: </td> <td><input type="text" name="email" value="{{email}}"/> e.g. user@domain.net </td>
</tr>
<tr>
	<td> <img src = "{{photo}}" width="110" height="130"> </td>
	<td> <textarea name="bio"  rows=4 cols=50> {{bio}}</textarea> </td>
</tr>

<tr>
<td> <center> <input type="submit" value="Click to Update"> </td> 
</tr>

{% if success %}
<h3 style="color:magenta;"> Data successfully submitted to the database! </h3>
{% endif %}

</table>

</fieldset>

<br>
<a href ="/view_all_celebs"> Click to view all of the celebrities </a> 
</br>

<br>
<a href ="/view_one_celeb"> Click to view one of the celebrities </a> 
</br>

</form>

</body>

</html>
